
BST/.vs/BST/v16/Browse.VC.db
BST/.vs/BST/v16/.suo
BST/.vs/BST/v16/ipch/AutoPCH/176bfc6ecf4e7850/BST.ipch
BST/BST/BST.vcxproj.filters
BST/BST/BST.vcxproj.user
BST/BST/Debug/BST.tlog/CL.read.1.tlog
BST/BST/Debug/BST.tlog/CL.write.1.tlog
BST/BST/Debug/BST.tlog/link.read.1.tlog
BST/BST/Debug/BST.tlog/link.read.1.tlog
BST/BST/Debug/BST.tlog/link.write.1.tlog
BST/BST/Debug/BST.tlog/link.command.1.tlog
BST/BST/Debug/BST.tlog/CL.command.1.tlog
BST/BST/Debug/BST.tlog/CL.command.1.tlog
BST/BST/Debug/vc142.idb
BST/BST/Debug/vc142.pdb
BST/Debug/BST.pdb
BST/Debug/BST.ilk
BST/BST/Debug/BST.tlog/BST.lastbuildstate
BST/BST/Debug/BST.obj
BST/BST/Debug/BST.log
